node_modules
npm-debug.log
Dockerfile
README.md
*.md
*.log
*.tsbuildinfo
dist
build
.cache
.vscode
.idea
*.tgz
*.zip
*.tar
*.gz
*.rar
*.7z
*.swp
*.swo
*.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local